.museum-info {

    &__inner {
        padding-bottom: 101px;
    }

    .museum-info__title {
        padding-bottom: 20px
    }

    & p {
        color: #32373C;
        font-family: Gerbera;
        font-size: 25.333px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.76px;
    }

    & p span {
        font-weight: 500;
    }

    & p a {
        color: #AF8C64;
        font-family: Gerbera;
        font-size: 25.333px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.76px;
    }
}